extends ../layouts/main-layout.jade

block title
    title Тестовая верстка Landing Page

block content
    <!-- / ========= about ========= \ -->
    section.about.section
        .container
            .section-title
                .section__title-head О будущем ученике
                .section__title-desc Ребятам из Loftschool будет полезно узнать немого обо мне
            .about__list
                li.about__item
                    .about__item-left
                        img(src='./images/icons/hello.svg').about__item-pic
                    .about__item-right
                        .about__title Немного обо мне
                        .about__text.section__text
                            p Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться:
                                a(href='') www.yandex.ru
                li.about__item
                    .about__item-left
                        img(src='./images/icons/experience.svg').about__item-pic
                    .about__item-right
                        .about__title Мой опыт в разработке
                        .about__text.section__text
                            p В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр
    <!-- / ========= courses ========= \ -->
    section.courses.section
        .container
            .section-title
                .section__title-head Курсы на loftblog
                .section__title-desc которые мне помогут в выполнении этого задания
            ul.courses__list
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел
                li.courses__item
                    a(href='#').courses__link
                        .courses__shadow
                            .courses__img
                                img(src='./images/js.jpg').courses__img-pic
                            .courses__desc
                                .courses__text
                                    .courses__title Основы JS
                                    .courses__text-content.section__text
                                        p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                                    .courses__date 24 урока (6 часов 46 минут)
                                .courses__check
                                    .courses__check-elem
                                    .courses__check-text Посмотрел