// footer
footer.footer
	div.container
		.footer__text Это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.


<!-- build:js js/vendor.js -->
// JS VENDOR
// bower:js
// endbower
<!--  endbuild -->


<!-- build:js js/main.min.js -->
// JS MAIN
script(src='js/main.js')
<!-- endbuild -->