head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	block title
		title exmaple

	// SEO
	meta(name='description', content='')
	meta(name='author', content='')
	meta(name='keywords', content='')

	// FAVICON
	

	<!-- build:css css/vendor.min.css -->
	//CSS VENDOR
	// bower:css
	// endbower 
	<!-- endbuild -->
	
	<!-- build:css css/fonts.min.css -->
	// FONTS
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	// CSS MAIN
	link(rel="stylesheet" href="css/main.css")
	<!-- endbuild -->

	<!-- build:js js/modernizr.min.js -->
	<!-- endbuild -->